:root {
  --brand-font: "Roboto", sans-serif;
  --brand-color: #2196f3;
  --brand-text-color: #757575;
  --brand-bg-color: #2f303a;
}

body {
  color: var(--brand-text-color);
  font-family: var(--brand-font);
  font-size: 14px;
  line-height: 24px;
  width: 1600px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* nawigacja */

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1.85rem;
  line-height: 1.29rem;
  text-decoration: none;
  padding-right: 93px;
}

.logo-color-1 {
  color: var(--brand-color);
}
.logo-color-2 {
  color: #000000;
}
.logo-color-3 {
  color: #ffffff;
}

.page-header {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #ececec;
  padding: 20px 0;
}

.page-navigation {
  display: flex;
  list-style-type: none;
  line-height: 1.14rem;
  padding-left: 0px;
}

.page-navigation li a {
  font-weight: 500;
  color: #212121;
  text-decoration: none;
}

.link {
  font-weight: 500;
  color: #212121;
  text-decoration: none;
  margin: 32px 46px 0 0;
}
.link:hover,
.link:focus,
.contact:hover,
.contact:focus {
  color: var(--brand-color);
  --color2: var(--brand-color);
  --color4: var(--brand-color);
}

.page-contact {
  display: flex;
  gap: 30px;
  list-style-type: none;
  line-height: 1.14rem;
  padding-left: 345px;
}

.contact {
  display: flex;
  align-items: center;
  color: var(--brand-text-color);
  font-weight: 500;
  text-decoration: none;
}

/* pierwszy div */
.wrapper {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/goit-markup-hw-04/images/Main-page/office.jpg);
  max-width: 1600px;
  background-color: var(--brand-bg-color);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  max-width: 696px;
  margin-top: 200px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 2.75rem;
  line-height: 3.75rem;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-decoration: none;
}
.order-button {
  background: var(--brand-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 1.14rem;
  line-height: 2.14rem;
  text-align: center;
  cursor: pointer;
  padding: 10px 42px;
  border-width: 1px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 200px;
}

.list-button {
  display: flex;
  justify-content: center;
  margin: 94px auto 50px;
}
.menu,
button {
  font-weight: 500;
  font-size: 1.14rem;
  line-height: 1.86rem;
  list-style-type: none;
  cursor: pointer;
  padding: 6px 22px;
  margin: 8px;
  border-style: none;
  border-radius: 4px;
}

.menu-button:hover,
.menu-button:focus {
  background: var(--brand-color);
  color: #ffffff;
  font-weight: 500;
  font-size: 1.14rem;
  line-height: 1.86rem;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* main - sekcja z tekstem */
.secondary-header {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.14rem;
  color: #212121;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.post-box {
  margin-bottom: 94px;
}
.post {
  display: flex;
  justify-content: center;
}

.post-text {
  margin: 0;
}

/* Czym się zajmujemy i zespół */

.company {
  margin: 0 auto 94px;
}
.company-products {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0px 30px;
  padding: 0;
}

.company-products li {
  padding: 0 15px;
  margin: 0;
}
.company-header {
  font-weight: 700;
  font-size: 2.57rem;
  line-height: 3rem;
  color: #212121;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}
.wrapper2 {
  background-color: #f5f4fa;
  height: 648px;
}

.team-header {
  font-weight: 700;
  font-size: 2.57rem;
  line-height: 3rem;
  color: #212121;
  text-align: center;
  margin: 0;
  padding-top: 94px;
  padding-bottom: 50px;
}

.team-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0px;
  padding: 0;
}

.team-members {
  padding-bottom: 30px;
  background-color: #ffffff;
  margin: 0px 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-details,
.card-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 24px;
}

.name {
  font-weight: 500;
  font-size: 1.14rem;
  line-height: 1.34rem;
  color: #212121;
  text-align: center;
  padding-bottom: 10px;
}
.job-description {
  font-size: 1.14rem;
  line-height: 18.75px;
  text-align: center;
}

/* portfolio - siatka produktów */

.card-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 94px;
}

.card-properties {
  max-width: 370px;
  flex-basis: calc((100% - 20px) / 3);
  border: 1px solid #eeeeee;
}

.card-properties:hover {
  cursor: pointer;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-details {
  margin: 0;
}

.title {
  font-weight: 700;
  font-size: 1.28rem;
  line-height: 2.57rem;
  color: #212121;
}

.title-description {
  font-size: 1.14rem;
  line-height: 2.14rem;
}

/* footer */

.summary {
  background-color: var(--brand-bg-color);
}

.container > p {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 0px;
}

.address-details {
  color: #ffffff;
  font-style: normal;
  margin: 9px 0px;
}

.link-color {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.link-color:hover {
  color: var(--brand-color);
}

.icon {
  margin-right: 5px;
}

.post-icon {
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-top: 94px;
  margin-bottom: 30px;
}

.post-clock {
  margin: 0px 30px;
}

.post-diagram {
  margin-right: 30px;
}

.social-flex {
  display: flex;
  justify-content: space-between;
  margin: 0 32px;
  max-height: 44px;
}

.social-links {
  padding: 11px;
}

.social:hover {
  cursor: pointer;
  background-color: var(--brand-color);
  border-radius: 50%;
  --color1: #ffffff;
}

/* sekcja Nasi klienci */
.customers-header {
  font-size: 2.57rem;
  font-weight: 700;
  color: #212121;
  text-align: center;
  margin-top: 149px;
  margin-bottom: 50px;
}

.customers {
  display: flex;
  justify-content: space-between;
}

.customers-logo {
  max-width: 170px;
  max-height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-bottom: 94px;
}

.customers-logo:hover {
  cursor: pointer;
  border: 1px solid var(--brand-color);
  border-radius: 4px;
  --color1: var(--brand-color);
  --color2: var(--brand-color);
}
.join-us-header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.summary-socials-flex {
  display: flex;
  justify-content: space-between;
  max-height: 44px;
}

.media {
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  --color1: #ffffff;
}
.media:first-child {
  margin-left: 0px;
}
.media:hover {
  cursor: pointer;
  background-color: var(--brand-color);
  border-radius: 50%;
}

.summary-address {
  margin: 60px 70px 60px 0px;
}
.summary-socials {
  padding-bottom: 50px;
}
